@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.heading{
    height: 15vh;
    width: 100%;
    background-color:black;
    color:white;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2rem;
}

.laugh{
    height: 50vh;
    width: 25vw;
}

.lol{
    height: 10vh;
    width: 50vw;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tex{
    height: fit-content;
    font-size: 1rem;
    color:black;
    font-weight: bold;
}

.newjoke{
    height: 10vh;
    width: 33vh;
    background-color: green;
    color:white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.hide{
    display: none;
}